; Minimal ctg.ini excerpt for IPIC connection to CICS
[PRODUCT]
APPLID=MYAPPL
APPLIDQUALIFIER=MYQUAL

[IPICSERVER=CICSA]
DESCRIPTION=IPIC to CICS
HOSTNAME=cics.host.example
PORT=50889
SENDSESSIONS=10
SSL=N

[PROTOCOLHANDLER=TCPIPSERV]
PORT=2006
SSL=N
